[Unit]
Description=Consul agent

[Service]
Type=simple
EnvironmentFile=-/etc/default/consul
User=consul
Group=consul
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d $CONSUL_FLAGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
